.header {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  height: 60vh;
  background: url(../assets/images/space-cat.jpg) no-repeat center center;
  background-size: cover;
  .header-title {
    text-align: end;
    color: white;
    padding-top: 20px;
    padding-right: 20px;
  }
}